@import "../../../../utils/colors";

.avatar-info-component {
  text-align: left;
  display: grid;
  grid-template-areas: "AvatarInfoTitle" "AvatarImage" "AvatarInfo";
  grid-auto-rows: minmax(min-content, max-content);
  height: 100%;

  .avatar-info-title {
    grid-area: AvatarInfoTitle;
    margin: 0;
    padding: 15px;
  }

  .avatar-image {
    grid-area: AvatarImage;
    width: 100%;
    padding-bottom: 70%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .avatar-info {
    grid-area: AvatarInfo;

    padding: 15px;
    position: relative;

    .loading-overlay {
      background-color: $backgroundColor;
      position: absolute;
      top: 66px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.hidden {
        display: none;
      }
    }
  }

}
