@import '../../../../common/_mixins';
@import '../../../../common/_spacing';
@import '../../../../common/_colors';

.Component {
  position: relative;
  display: grid;
  height: 100%;
  overflow: hidden;
  width: 100%;
  grid-template-rows: repeat(2, autoSize()) auto;

  .CloseButton {
    position: absolute;
    right: $smallSpacing;
    top: $smallSpacing;
    z-index: 2;
  }

  .Content,
  .Overview {
    text-shadow: 2px 1px #000000;
  }

  .ScrollableContent {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
