@import "../../../../common/_mixins";
@import "../../../../common/_spacing";

.Component {
  display: grid;
  grid-template-columns: autoSize() repeat(2, 1fr);
  grid-template-rows: autoSize() autoSize() auto;
  grid-gap: $outerSpacing;
  height: 100%;

  .AvatarImage {
    width: 300px;
  }

  .ShortInfo {
    display: grid;
    grid-template-columns: repeat(2, autoSize());
    grid-template-rows: autoSize();
    grid-gap: $innerSpacing;
    grid-column-end: span 2;
    grid-row-end: span 1;

    .Bold {
      font-weight: bold;
    }
  }

  .Actions {
    grid-column-end: span 2;
  }

  .Links {
    grid-column-end: span 1;
  }

  .FullView {
    grid-column-end: span 3;
  }
}
