@import "../../../../common/_mixins";
@import "../../../../common/_spacing";

.Component {
  display: grid;
  grid-template-columns: autoSize() repeat(2, 1fr);
  grid-template-rows: autoSize() autoSize() auto;
  grid-gap: $outerSpacing;
  height: 100%;

  .AvatarImage {
    width: 300px;
  }

  .ShortInfo {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  .FullView {
    grid-column-end: span 3;
  }
}
