@import "../../../../common/_mixins";
@import "../../../../common/_spacing";
@import "../../../../common/_colors";

.Component {
  display: grid;
  grid-gap: $innerSpacing;
  height: 100%;
  position: relative;
  overflow: hidden;

  grid-template-rows: autoSize() auto;

  .Content, .Overview {
    text-shadow: 2px 1px #000000;
  }
}
