@import '../../common/_spacing';
@import '../../common/_colors';

.Component {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  -webkit-app-region: no-drag;

  .Badge {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: $tinySpacing;
    background-color: red;
    font-weight: bold;
    color: $colorWhite;
    border-radius: 50%;
  }

  .StyleElement {
    background-color: $buttonBackgroundColor;
    padding: $buttonPadding;
    color: $buttonFontColor;
    cursor: pointer;
    transition: background-color 100ms linear;
    user-select: none;

    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-radius: $buttonBorderRadius;

    &:hover {
      background-color: $buttonBackgroundColorOnHover;
    }

    &.Disabled {
      cursor: no-drop;
      opacity: 0.3;
    }

    &.HeaderIcon, &.Icon {
      width: 30px;
      height: 30px;

      *:nth-child(2) {
        margin-left: -15px;
      }
    }

    &.HeaderIcon {
      width: 36px;
      height: 36px;
    }

    &.Active {
      background-color: $buttonActiveBackgroundColor;
      color: $buttonActiveFontColor;

      &:hover {
        background-color: $buttonActiveBackgroundColorOnHover;
      }
    }
  }

  &.FullWidth {
    width: 100%;
  }

  &:focus {
    outline: none;
  }
}
