@import '../../common/_spacing';
@import '../../common/_colors';

.Component {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  -webkit-app-region: no-drag;

  .Badge {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: $tinySpacing;
    background-color: #ff3030;
    font-weight: bold;
    color: $textColor;
    border-radius: 100%;
    z-index: 99;
    cursor: pointer;
    user-select: none;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .StyleElement {
    background-color: $buttonBackgroundColor;
    padding: $buttonPadding;
    color: $buttonFontColor;
    min-height: 36px;
    cursor: pointer;
    transition: background-color 100ms linear;
    user-select: none;

    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-radius: $buttonBorderRadius;

    &:hover {
      background-color: $buttonBackgroundColorOnHover;
    }

    &.Disabled {
      cursor: no-drop;
      opacity: 0.3;
    }

    &.HeaderIcon,
    &.Icon {
      width: 36px;
      height: 36px;

      *:nth-child(2) {
        margin-left: -15px;
      }
    }

    &.Padding {
      padding: $buttonPadding;
    }

    &.HeaderIcon {
      width: 24px;
      height: 24px;
      color: $colorWhite;
      padding: 0;

      svg {
        font-size: 16px;
      }
    }

    &.Active {
      background-color: $buttonActiveBackgroundColor;
      color: $buttonActiveFontColor;
      font-weight: bold;

      &:hover {
        background-color: $buttonActiveBackgroundColorOnHover;
      }
    }

    &.Light {
      background-color: $color1;

      &:hover {
        background-color: $color3;
      }
    }

    &.Dark {
      background-color: $colorBlack;

      &:hover {
        background-color: $color2;
      }
    }
  }

  &.FullWidth {
    width: 100%;
  }

  &:focus {
    outline: none;
  }
}
