@import '../../common/_mixins';
@import '../../common/_spacing';
@import '../../common/_colors';

.Component {
  height: 100%;
  display: grid;
  grid-template-rows: autoSize() auto;
  overflow: hidden;

  .Tabs {
    display: grid;
    grid-template-columns: autoSize();

    .TabsInner {
      display: grid;
      grid-auto-flow: column;
      grid-gap: $tinySpacing;
      padding: $tinySpacing;
      border-radius: $standardBorderRadius $standardBorderRadius 0 0;
      background-color: $color2;
    }
  }

  .Content {
    background-color: $color2;
    height: 100%;
    overflow: hidden;
    border-radius: 0 $standardBorderRadius $standardBorderRadius $standardBorderRadius;
    display: grid;
  }
}
