@import "../../../utils/colors";

.overview-friends-component {
  padding: 25px 50px;
  display: grid;
  grid-template-areas: "Empty OverviewTitle OverviewTitle" "BackBtn Bio ProfileInfo";
  grid-template-rows: minmax(min-content, max-content) auto;
  grid-template-columns: minmax(min-content, max-content) auto minmax(min-content, max-content);
  grid-gap: 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;

  .online-friends-list-wrapper {
    grid-area: Bio;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;

    display: grid;
    grid-template-areas: "specialFilters" "filterBtns" "friendsList";
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) auto;
    grid-template-columns: auto;
    grid-gap: 15px;

    .filter-container {
      grid-area: filterBtns;
      display: grid;
      grid-template-columns: repeat(28, auto);
      grid-gap: 10px;
    }

    .specialFilters {
      grid-area: specialFilters;
      display: grid;
      grid-template-columns: repeat(28, auto);
      grid-gap: 10px;
    }


    .online-friends-list {
      grid-area: friendsList;
      padding: 20px 5px 20px 20px;
      box-sizing: border-box;
      background-color: $highlightColor;
      height: 100%;
      overflow: hidden;

      .friend-list-padded {
        padding-right: 5px;
        box-sizing: border-box;
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: max-content;
        grid-gap: 10px;
      }

      .friend-entry {
        position: relative;
        padding: 10px;
        border-radius: 6px;
        background-color: $backgroundColor;
        width: 100%;
        padding-bottom: 100%;
        max-height: 200px;
        box-sizing: border-box;
        overflow: hidden;

        .top-right-info {
          top: 10px;
          right: 10px;
          position: absolute;
          display: flex;
          justify-content: end;
          align-items: center;

          .is-in-private-world {
            display: inline-block;
            background-color: red;
            border-radius: 6px;
            padding: 3px 5px;
          }

          .is-on-ask-me {
            display: inline-block;
            background-color: #ff6400;
            border-radius: 6px;
            padding: 3px 5px;
          }
        }

        .friend-username {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 5px 0;
          background-color: rgba(0, 0, 0, .9);
        }

        .avatar-thumbnail {
          width: 100%;
          padding-bottom: 100%;
          box-sizing: border-box;
          height: 20px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .filter-btn {
    width: 100%;
    background-color: $highlightColor;
    padding: 5px 0;
    cursor: pointer;
    user-select: none;

    &.disabled {
      position: relative;
      background-color: rgba(0, 0, 0, .6);
      color: #7a7a7a;
      cursor: auto;
    }

    &.selected {
      background-color: $accentColor;
    }
  }

  .online-friend-list-title {
    grid-area: OverviewTitle;
    text-align: left;

    h2 {
      margin: 0;
      padding: 0;
    }
  }

  .grouped-list-padded {
    display: grid;
    grid-template-columns: repeat(auto-fill, 334px);
    grid-template-rows: minmax(min-content, max-content);
    height: 100%;
    grid-gap: 10px;
    padding-right: 5px;

    .grouped-by-instance-item {
      background-color: $backgroundColor;
      overflow: hidden;
    }

    .no-friends-in-public-together {
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }


}
