@import "../../common/_mixins";
@import "../../common/_spacing";

.Component {
  display: grid;
  grid-template-columns: repeat(2, autoSize());
  grid-template-rows: autoSize();
  grid-gap: $tinySpacing $smallSpacing;

  .Key {
    font-weight: bold;
    text-align: right;
  }

  .Value {
    word-break: break-word;
  }
}
