@import "../../common/_spacing";
@import "../../common/_colors";

.Component {
  background-color: $color1;
  padding: $smallSpacing;
  border-radius: $standardBorderRadius;
  overflow: hidden;

  &.Translucent {
    background-color: transparent;
  }
}
