@import "../../../common/_spacing";
@import "../../../common/_mixins";

.Component {
  display: grid;
  grid-template-rows: autoSize() repeat(2, 1fr);
  height: 100%;
  grid-gap: $homeGridGap;

  .FriendsOverview {
    display: grid;
  }

  .ReFetchInfo {

  }
}
