@import "../../../common/_spacing";
@import "../../../common/_mixins";

.Component {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: autoSize();
  height: 100%;
  grid-gap: $innerSpacing;
}
