@import "../../../common/_spacing";
@import "../../../common/_colors";

.Component {
  background-color: $color1;
  padding: $smallSpacing;
  border-radius: $standardBorderRadius;

  .Title {
    color: transparentize($textColor, .5);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: $innerSpacing;
  }

  .Content {
    font-size: 64px;
    text-align: center;
  }
}
