@import '../../../common/_spacing';
@import '../../../common/_colors';
@import '../../../common/_mixins';

.Component {
  background-color: $color1;
  padding: $smallSpacing;
  border-radius: $standardBorderRadius;

  .Title {
    color: transparentize($textColor, 0.5);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;

    &.AddMargin {
      margin-bottom: $innerSpacing;
    }
  }

  .Content {
    font-size: 64px;
    text-align: center;
  }
}
