@import '../../../../common/_colors';
@import '../../../../common/_spacing';
@import '../../../../common/_mixins';

.ModerationItem {
  background-color: $color2;
  padding: $smallSpacing;
  border-radius: $standardBorderRadius;
  display: grid;
  grid-gap: $smallSpacing;

  .Moderations {
    display: grid;
    grid-gap: $smallSpacing;

    .Moderation {
      display: grid;
      grid-template-columns: repeat(3, autoSize());
      grid-gap: $smallSpacing;
      align-items: center;
    }
  }

  .Header {
    display: grid;
    grid-template-columns: repeat(2, autoSize());

    .TargetName {
      cursor: pointer;
      background-color: $colorBlue;
      font-weight: bold;
      padding: $smallSpacing;
      border-radius: 0 $standardBorderRadius $standardBorderRadius 0;
    }

    .TimeStamp {
      border-radius: $standardBorderRadius 0 0 $standardBorderRadius;
    }
  }

  .TimeStamp {
    background-color: $color1;
    padding: $smallSpacing;
    border-radius: $standardBorderRadius;
  }
}
