@import '../../common/_spacing';
@import '../../common/_mixins';
@import '../../common/_colors';

.Component {
  display: grid;
  margin: $innerSpacing 0 $innerSpacing $innerSpacing;
  grid-template-rows: auto autoSize() autoSize();
  grid-gap: $innerSpacing;

  .NavigationTop {
    display: grid;
    grid-gap: $tinySpacing;
    grid-template-rows: repeat(4, autoSize());
  }

  .NavigationCenter {
    display: grid;
    grid-template-rows: repeat(4, autoSize());
    grid-gap: $tinySpacing;
    align-items: end;
  }

  .Settings {
    display: grid;
    grid-gap: $tinySpacing;

    .LogoutButton {
      color: red;
    }
  }
}
