@import "../../common/_spacing";
@import "../../common/_mixins";
@import "../../common/_colors";

.Component {
  display: grid;
  grid-template-columns: repeat(2, autoSize());
  justify-content: space-between;
  -webkit-app-region: drag;

  .Navigation {
    display: grid;
    grid-template-columns: repeat(5, autoSize());
    grid-gap: $innerSpacing;
    user-select: none;
  }
}
