@import '../../../common/_mixins';
@import '../../../common/_spacing';
@import '../../../common/_colors';

.Component {
  display: grid;
  grid-template-rows: repeat(2, autoSize()) auto;
  grid-gap: $innerSpacing;
  height: 100%;
  overflow: hidden;

  .FriendsCountWrapper {
    display: grid;
    grid-template-columns: auto autoSize();

    .ShortOverview {
      display: grid;
      grid-template-columns: repeat(4, autoSize());
      align-items: center;

      .AllOnlineFriendsCount {
        padding: $tinySpacing $smallSpacing;
        background-color: $colorBlue;
        color: black;
        font-weight: bold;
        border-top-left-radius: $standardBorderRadius;
        border-bottom-left-radius: $standardBorderRadius;
      }

      .FilteredFriendsCount {
        padding: $tinySpacing $smallSpacing;
        background-color: $color3;
        font-weight: bold;
        border-top-right-radius: $standardBorderRadius;
        border-bottom-right-radius: $standardBorderRadius;
        margin-right: $innerSpacing;
      }
    }

    .SpecialFilter {
      display: grid;
      grid-template-columns: repeat(3, autoSize());
      grid-gap: $innerSpacing;
      justify-content: flex-end;
    }
  }

  .FilterButtons {
    background-color: $color1;
    padding: $innerSpacing;
    border-radius: $standardBorderRadius;

    .SearchByName {
      margin-bottom: $innerSpacing;
    }

    .NormalFilter {
      display: grid;
      grid-template-columns: repeat(28, autoSize());
      grid-gap: $smallSpacing;
    }
  }

  .FriendsList {
    display: grid;
    grid-gap: $innerSpacing;
    grid-template-columns: repeat(10, 1fr);
  }
}

@media only screen and (max-width: 1610px) {
  .Component {
    .FriendsList {
      grid-template-columns: repeat(8, 1fr);
    }
  }
}
