@import "../../../utils/colors";


.overview-all-component {
  display: grid;
  grid-template-areas: "Title Title Title" "TopLeftColumn TopRightColumn TopRightColumn" "BottomLeftColumn BottomRightColumn BottomRightColumn2";
  grid-template-rows: minmax(min-content, max-content) auto auto;
  grid-template-columns: 50%;
  grid-gap: 15px;
  padding: 25px 50px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;


  .overview-title {
    grid-area: Title;
    text-align: left;

    h2, h3 {
      margin: 0;
      padding: 0;
    }

    h2 {
      font-size: 24px;
    }
  }

  .button {
    cursor: pointer;
    user-select: none;
    opacity: .6;
    transition: opacity 200ms linear;
    overflow: hidden;
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
      opacity: 1;
    }
  }

  .manage-friends {
    grid-area: TopLeftColumn;
    background-color: $highlightColor;
  }

  .manage-favorites {
    grid-area: TopRightColumn;
    background-color: $highlightColor;
  }

  .manage-avatars {
    grid-area: BottomLeftColumn;
    background-color: $highlightColor;
  }

  .manage-profile {
    grid-area: BottomRightColumn;
    background-color: $highlightColor;
  }

  .manage-profile {
    grid-area: BottomRightColumn;
    background-color: $highlightColor;
  }

  .moderation-profile {
    grid-area: BottomRightColumn2;
    background-color: $highlightColor;
  }

}
