@import "../../../utils/colors";

.button-component {
  user-select: none;
  color: $accentColor;
  display: inline-block;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 15px;
  cursor: pointer;

  &.highlight {
    background-color: $highlightColor;

    &:hover {
      background-color: $buttonHighlightColorHover;
    }
  }

  &.dark {
    background-color: $backgroundColor;

    &:hover {
      background-color: $buttonDarkColorHover;
    }
  }
}
