@import "../../../utils/colors";

.table-button-component {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $buttonHighlightColorHover;
  }
}
