@import "../../common/_spacing";
@import "../../common/_mixins";

.Component {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: autoSize() auto;
  padding: $innerSpacing;
  grid-gap: $innerSpacing;

  .PageContent {
    height: 100%;
    overflow: hidden;
  }
}
