@import "../../common/_spacing";
@import "../../common/_mixins";

.Component {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: autoSize() auto;
  overflow: hidden;

  .Application {
    display: grid;
    grid-template-columns: autoSize() auto;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .PageContent {
      height: 100%;
      padding: $innerSpacing;
      overflow: hidden;
    }
  }
}
