@import '../../common/_mixins';
@import '../../common/_spacing';
@import '../../common/_colors';

.Component {
  display: grid;
  grid-template-columns: autoSize() auto autoSize();
  grid-gap: $innerSpacing;
  border-radius: 0;
  align-items: center;
  padding: $tinySpacing;
  background-color: $colorBlack;
  -webkit-app-region: drag;
  z-index: 99999;

  img {
    width: 24px;
  }

  .ApplicationTitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }

  .WrapperRight {
    display: grid;
    grid-gap: $smallSpacing;
    grid-auto-flow: column;

    .UpdateAvailable {
      color: $colorGreen;
    }

    .ApplicationControls {
      display: grid;
      grid-template-columns: repeat(3, autoSize());
      grid-gap: $tinySpacing;
      user-select: none;
    }
  }
}
