@import '../../../common/_spacing';
@import '../../../common/_colors';

.Cell {
  padding: $innerSpacing;
  background-color: $color2;
  display: grid;
  align-items: center;
  transition: background-color 100ms linear;

  .Editable {
    border-bottom: 2px solid $color3;

    &:focus {
      outline: none;
    }
  }

  &.Collapsed {
    display: none;
  }

  &.CollapsableHandler {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $smallSpacing;
  }

  &.Clickable {
    cursor: pointer;
  }
}
