@import '../../../common/_spacing';
@import '../../../common/_colors';

.Cell {
  padding: $innerSpacing;
  background-color: $color0;

  .Editable {
    border-bottom: 2px solid $color3;

    &:focus {
      outline: none;
    }
  }
}
