@import "../../utils/colors";

.back-btn-component {
  grid-area: BackBtn;
  background-color: $highlightColor;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 0 15px;
  border-radius: 5px;

  &:hover {
    background-color: $buttonHighlightColorHover;
  }
}
