@import '../../common/_spacing';
@import '../../common/_colors';

.TableComponent {
  position: relative;
  display: grid;
  grid-gap: $tinySpacing;

  .Header {
    top: 0;
    left: 0;
    position: sticky;
    font-weight: bold;
    text-transform: uppercase;
  }
}
