@import "../../utils/colors";

.login-component {
  background-color: $highlightColor;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #000000;
  width: 300px;
  margin: 0 auto;
  top: 30%;

  .login-container {
    padding: 15px;
  }

  .login-image {
    height: 145px;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .normal-text {
    margin-bottom: 5px;
  }

  input {
    margin-bottom: 10px;
  }
}
