@import '../../common/_mixins';
@import '../../common/_spacing';
@import '../../common/_colors';

.UserCard {
  display: grid;
  grid-template-columns: autoSize() auto;
  position: relative;
  height: 150px;
  overflow: hidden;
  text-shadow: 1px 1px #000000;
  grid-gap: $innerSpacing;

  .BackgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(50px);
    z-index: -1;
  }

  .AvatarThumbnail {
    height: 100%;
    width: 150px;
    border-radius: $standardBorderRadius;
    border-width: $tinySpacing;
    border-style: solid;
  }

  .AvatarThumbnail,
  .BackgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .Overview {
    display: grid;
    grid-template-rows: auto autoSize();

    .UserInfo {
      display: inline-grid;
      grid-template-columns: autoSize();
      grid-template-rows: repeat(2, autoSize());
      grid-gap: $smallSpacing;

      .UserName {
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
      }

      .TrustRank {
        .FontStyles {
          display: inline-block;
          background-color: $color2;
          padding: $tinySpacing;
          border-radius: $smallBorderRadius;
          font-weight: bold;
        }
      }
    }
    .UserInteractions {
      display: grid;
      grid-gap: $smallSpacing;
      grid-template-columns: repeat(2, autoSize());
      justify-content: end;
      align-items: center;

      .DeleteUser {
        background-color: $colorRed;
      }

      .FavoriteUser {
        display: grid;
        grid-gap: $tinySpacing;
        grid-auto-flow: column;
        background-color: $colorYellow;
        align-items: center;
        font-weight: bold;
        height: 36px;

        &.AlreadyFavorite {
          background-color: $colorGreen;
          color: $colorBlack;
        }
      }
    }
  }

  .Visitor {
    border-color: $visitor;
    color: $visitor;
  }

  .NewUser {
    border-color: $newUser;
    color: $newUser;
  }

  .User {
    border-color: $user;
    color: $user;
  }

  .KnownUser {
    border-color: $knownUser;
    color: $knownUser;
  }

  .TrustedUser {
    border-color: $trustedUser;
    color: $trustedUser;
  }

  .LegendaryUser {
    border-color: $legendaryUser;
    color: $legendaryUser;
  }
}
