@import '../../common/_colors';
@import '../../common/_mixins';
@import '../../common/_spacing';

.Component {
  background-color: $dialogBackgroundColor;
  border-radius: $standardBorderRadius;
  display: grid;
  grid-template-areas: 'DialogHeader' 'DialogContent' 'DialogFooter';
  grid-template-rows: autoSize() auto autoSize();
  max-height: 90vh;
  max-width: calc(min(70vw, 90vw));
  min-width: calc(min(70vh, 90vw));
}
