// Main Colors
$color0: #1a1a1a;
$color1: #303030;
$color2: #212121;
$color3: #666666;
$color4: #1c1c1c;

$colorBlue: #25aac5;
$colorWhite: #ffffff;
$textColor: #e7e7e7;
$colorBlack: #000000;
$colorGreen: lawngreen;
$colorRed: #ff2e2e;
$colorYellow: #ffa400;

$colorDarkGreen: green;

$backdrop: rgba(0, 0, 0, 0.7);

// Index
$indexBackgroundColor: $color0;
$indexFontColor: $textColor;

// Login
$loginBackgroundColor: $color1;

// Loading
$loadingBackgroundColor: $textColor;

// Button
$buttonBackgroundColor: $color0;
$buttonFontColor: $textColor;
$buttonBackgroundColorOnHover: $color2;
$buttonActiveBackgroundColor: $colorBlue;
$buttonActiveFontColor: $colorBlack;
$buttonActiveBackgroundColorOnHover: $colorBlue;

// TextInput
$textInputBackgroundColor: $color2;
$textInputFontColor: $textColor;

// Navigation
$userOverviewBackgroundColor: $color1;
$userOverviewHighlight: $color2;

// TrustRankColors
$visitor: #d6d6d6;
$newUser: #5083db;
$user: #5df848;
$knownUser: #ff6600;
$trustedUser: #8000ff;
$veteranUser: #8000ff;
$legendaryUser: #ffda00;

// dialog
$dialogBackgroundColor: $color1;
$dialogFooterBackgroundColor: $color1;
