// Main Colors
$color0: #1A1A1A;
$color1: #303030;
$color2: #212121;
$color3: #666666;

$colorBlue: #25AAC5;
$colorWhite: #FFFFFF;
$textColor: #E7E7E7;
$colorBlack: #000000;
$colorGreen: #00FD00;
$colorRed: red;

// Index
$indexBackgroundColor: $color0;
$indexFontColor: $textColor;

// Login
$loginBackgroundColor: $color1;

// Loading
$loadingBackgroundColor: $textColor;

// Button
$buttonBackgroundColor: $color0;
$buttonFontColor: $textColor;
$buttonBackgroundColorOnHover: $color2;
$buttonActiveBackgroundColor: $colorBlue;
$buttonActiveFontColor: $colorBlack;
$buttonActiveBackgroundColorOnHover: $colorBlue;

// TextInput
$textInputBackgroundColor: $color2;
$textInputFontColor: $textColor;

// Navigation
$userOverviewBackgroundColor: $color1;
$userOverviewHighlight: $color2;
