// Main Colors
$color0: #1A1A1A;
$color1: #303030;
$color2: #212121;

$colorBlue: #25AAC5;
$colorWhite: #FFFFFF;
$colorBlack: #000000;

// Index
$indexBackgroundColor: $color0;
$indexFontColor: $colorWhite;

// Login
$loginBackgroundColor: $color1;

// Loading
$loadingBackgroundColor: $colorWhite;

// Button
$buttonBackgroundColor: $color0;
$buttonFontColor: $colorWhite;
$buttonBackgroundColorOnHover: $color2;
$buttonActiveBackgroundColor: $colorBlue;
$buttonActiveFontColor: $colorBlack;
$buttonActiveBackgroundColorOnHover: $colorBlue;

// TextInput
$textInputBackgroundColor: $color2;
$textInputFontColor: $colorWhite;

// UserOverview
$userOverviewBackgroundColor: $color1;
$userOverviewHighlight: $color2;
