// Spacings
$innerSpacing: 11px;
$smallSpacing: 7px;
$tinySpacing: 3px;

$smallBorderRadius: 3px;
$standardBorderRadius: 6px;

// Button
$buttonPadding: $smallSpacing $innerSpacing;
$buttonBorderRadius: $smallBorderRadius;

// Login
$loginGridGap: $innerSpacing;
$loginPadding: $innerSpacing;

// TextInput
$textInputPadding: $smallSpacing $smallSpacing;

