@import "../../../common/_colors";
@import "../../../common/_spacing";

.Component {
  background-color: $color1;
  padding: $smallSpacing;
  border-radius: $standardBorderRadius;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 125px;
  width: 200px;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;

  .WorldName {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparentize($color0, 0.4);
    width: 100%;
    padding: $tinySpacing $smallSpacing;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
