@import '../../common/_spacing';
@import '../../common/_mixins';
@import '../../common/_colors';

$trustedRankBorder: $tinySpacing;

.Component {
  border-radius: $standardBorderRadius;
  box-shadow: black 1px 1px 5px;
  position: relative;
  padding-bottom: calc(100% - 6px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  font-size: 14px;

  &.Visitor {
    border: $trustedRankBorder solid $visitor;
  }

  &.NewUser {
    border: $trustedRankBorder solid $newUser;
  }

  &.User {
    border: $trustedRankBorder solid $user;
  }

  &.KnownUser {
    border: $trustedRankBorder solid $knownUser;
  }

  &.TrustedUser {
    border: $trustedRankBorder solid $trustedUser;
  }

  &.LegendaryUser {
    border: $trustedRankBorder solid $legendaryUser;
  }

  .Loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: $color3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Offline {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparentize(black, 0.15);
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .PrivateIcon {
    top: $smallSpacing;
    right: 35px;
  }

  .SameInstanceIcon {
    color: $colorRed;
    bottom: 28px;
    left: $tinySpacing;
    display: grid;
    grid-template-columns: repeat(2, autoSize());
  }

  .OnlineThroughWebsite {
    z-index: 99;
    left: $smallSpacing;
    top: $smallSpacing;
  }

  .OnlineThroughWebsite,
  .PrivateIcon,
  .SameInstanceIcon {
    background-color: $color2;
    padding: $tinySpacing;
    border-radius: $standardBorderRadius;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  .Status {
    position: absolute;
    top: $smallSpacing;
    right: $smallSpacing;
    background-color: $color2;
    padding: $tinySpacing;
    width: 23px;
    height: 23px;
    box-shadow: black 0 0 2px;
    border-radius: 50%;
    z-index: 2;

    &.Active:not(.Private) {
      background-color: lawngreen;
    }

    &.AskMe {
      background-color: orange;
    }

    &.Busy {
      background-color: red;
    }

    &.JoinMe {
      background-color: #25aac5;
    }
  }

  .DisplayName {
    position: absolute;
    background-color: transparentize($color0, 0.05);
    padding: $tinySpacing;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;
  }

  &.Small {
    height: 36px;
    width: 36px;

    div {
      display: none;
    }
  }
}
