@import "../../common/_spacing";
@import "../../common/_colors";

.Component {
  cursor: pointer;

  .AvatarThumbnail {
    overflow: hidden;
    border-radius: $standardBorderRadius;
    box-shadow: black 1px 1px 5px;
    position: relative;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .PrivateIcon {
      position: absolute;
      top: $smallSpacing;
      left: $smallSpacing;
      background-color: $color2;
      padding: $tinySpacing;
      border-radius: $standardBorderRadius;
      display: grid;
      justify-content: center;
      align-items: center;
    }

    .Status {
      position: absolute;
      top: $smallSpacing;
      right: $smallSpacing;
      background-color: $color2;
      padding: $tinySpacing;
      width: 20px;
      height: 20px;
      box-shadow: black 0 0 2px;
      border-radius: 50%;

      &.Active:not(.Private) {
        background-color: lawngreen;
      }

      &.AskMe {
        background-color: orange;
      }

      &.Busy {
        background-color: red;
      }

      &.JoinMe {
        background-color: #25AAC5;
      }
    }

    .DisplayName {
      position: absolute;
      background-color: transparentize($color0, 0.05);
      padding: $tinySpacing;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }


}
