@import "../../common/_spacing";
@import "../../common/_colors";

$trustedRankBorder: $tinySpacing;

.Component {
  cursor: pointer;

  .AvatarThumbnail {
    overflow: hidden;
    border-radius: $standardBorderRadius;
    box-shadow: black 1px 1px 5px;
    position: relative;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &.Visitor {
      border: $trustedRankBorder solid #D6D6D6;
    }

    &.NewUser {
      border: $trustedRankBorder solid #5083DB;
    }

    &.User {
      border: $trustedRankBorder solid #5DF848;
    }

    &.KnownUser {
      border: $trustedRankBorder solid #FF6600;
    }

    &.TrustedUser {
      border: $trustedRankBorder solid #8000FF;
    }

    &.LegendaryUser {
      border: $trustedRankBorder solid #FFDA00;
    }

    .PrivateIcon {
      position: absolute;
      top: $smallSpacing;
      right: 35px;
      background-color: $color2;
      padding: $tinySpacing;
      border-radius: $standardBorderRadius;
      display: grid;
      justify-content: center;
      align-items: center;
    }

    .Icon {
      position: absolute;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .Status {
      position: absolute;
      top: $smallSpacing;
      right: $smallSpacing;
      background-color: $color2;
      padding: $tinySpacing;
      width: 23px;
      height: 23px;
      box-shadow: black 0 0 2px;
      border-radius: 50%;

      &.Active:not(.Private) {
        background-color: lawngreen;
      }

      &.AskMe {
        background-color: orange;
      }

      &.Busy {
        background-color: red;
      }

      &.JoinMe {
        background-color: #25AAC5;
      }
    }

    .DisplayName {
      position: absolute;
      background-color: transparentize($color0, 0.05);
      padding: $tinySpacing;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
