@import '../../../common/_mixins';
@import '../../../common/_spacing';
@import '../../../common/_colors';

.Component {
  height: 100%;
  display: grid;
  grid-template-rows: autoSize() auto;
  grid-gap: $innerSpacing;

  .Filter {
    display: grid;
    grid-template-columns: repeat(4, autoSize());
    grid-gap: $smallSpacing;
    justify-content: flex-end;
  }

  .Content {
    height: 100%;
    overflow: hidden;

    .Notifications {
      display: grid;
      grid-gap: $smallSpacing;

      .Notification {
        display: grid;
        grid-template-columns: repeat(2, autoSize());
        justify-content: space-between;
        align-items: center;
        grid-gap: $smallSpacing;
        background-color: $color2;
        border-radius: $standardBorderRadius;
        padding: $smallSpacing;

        .Info {
          grid-template-columns: repeat(4, autoSize());
          justify-content: center;
          align-items: center;
          display: grid;

          div {
            padding: $smallSpacing;

            &:first-child {
              border-radius: $standardBorderRadius 0 0 $standardBorderRadius;
            }

            &:last-child {
              border-radius: 0 $standardBorderRadius $standardBorderRadius 0;
            }
          }

          .Detail {
            background-color: $color3;
          }

          .CreationDate,
          .Message {
            background-color: $color1;
          }

          .Username {
            background-color: $colorBlue;
            font-weight: bold;
          }
        }

        .Actions {
          display: grid;
          grid-gap: $smallSpacing;
          grid-template-columns: repeat(2, autoSize());

          .Accept {
            color: $colorGreen;
          }

          .Delete {
            color: $colorRed;
          }
        }
      }
    }
  }
}
